/* Navbar Styling */
nav {
    background-color: #2f7e9e;  /* Nepal-themed blue */
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-button .nbutton {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button .nbutton:hover,
.nav-button .nbutton:active {
    background-color: #207a8d;  /* Darker shade of Nepal-themed blue */
    color: white;
}

/* Responsive Design for Navbar */
@media (max-width: 768px) {
    .nav-button {
        flex-direction: column;
    }

    .nav-button .nbutton {
        margin-bottom: 10px;
        font-size: 16px;
    }
}
